<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
                <h1>Welcome back, Party Planners!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">

                 <h1>Hello Party Planners!</h1>
                 <p>This is an application where you can host, plan or join parties! No more boring weekends. Sign in and don't miss out on all the fun. Great way to connect with friends or people you met at the party.</p>
                 <%= link_to "Learn more »", "#", class: "btn btn-info btn-lg" %> 
           
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Plan.</h2>
                <p>Plan a party with your friends.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Invite.</h2>
                <p>Invite friends, family, collegues. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Join.</h2>
                <p>Accept invitations from friends or look for the parties hosted by your close friends around your area.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
 <% end %>